
html{
	font-size:10px;
	background-color:#535555;
	font-family: 'Droid Serif', serif;
}

h1 {
	text-align:center;
	color:blue;
	font-family: 'Tangerine', cursive;
	font-size: 45px;
	background-color:green;
}

h2 {
	text-align:center;
	color:black;
	font-family: 'Tangerine', cursive;
	font-size: 25px;
	background-color:green;
}

ul li{
	float: left;
	background-color:green;
	border: 1px solid black;
	margin-right:320px;
	font-size: 15px;
}

ul {
	float: left;
	height: 20px;
	background-color:green;
}


ul li:last-child {
	margin-right: 0;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

a {
	line-height:2;
	word-spacing:0.1rem;
}

p {
  line-height: 2;
  word-spacing: 0.1rem;
}

img {
  float: center;
  margin: 0 30px 0 0;
}